{% extends "base.html.twig" %}
{% block main %}
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
                
        <h1 class="text-center mt-1 text-2xl font-bold tracking-tight dark:text-slate-100 sm:text-3xl lg:text-4xl uppercase">FAQ</h1>
    
        <div class="transition rounded dark:text-slate-100  text-lg bg-transparent mt-14">
            <div class="accordion-header cursor-pointer transition flex space-x-5 items-center h-14">
                <i class="fas fa-plus"></i>
                <h3>Accordion</h3>
            </div>
            <div class="accordion-content mb-2 overflow-hidden max-h-0" style="max-height: 0px;">
                <p class="leading-6 font-light pl-9">
                    Accordion content
                </p>
            </div>
        </div>
        
    </div>

  <script src="{{ base }}/assets/js/faq.js" />
{% endblock %}